@import 'products';
@import 'cart';

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

body {
  margin: 0;
  list-style: none;

  a {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
}

.nav {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
