.button {
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  &.add {
    background-color: #898b90;
    &:hover {
      background-color: black;
    }
  }

  &.update {
    background-color: #1b4ecf;
  }

  &.delete {
    background-color: #ff0019;
  }

  &.next {
    width: 50%;
    height: 50px;
    background-color: black;
    span {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 16px;
    }
  }
  &.cancel {
    height: 50px;
    background-color: #ec3e4f;
  }
  &.yes {
    height: 50px;
    background-color: black;
  }

  span {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(245, 243, 243);
  }
}
