.nav_container {
  position: relative;
  height: 80px;
  .nav_wrapper {
    position: fixed;
    width: 100%;
    background: white;
    border-bottom: 1px solid #d8dde0;
    .nav_space {
      margin: 0px 30px;
      ul {
        display: flex;
        align-items: center;
        height: 80px;
        li {
          margin-right: 30px;
          span {
            font-weight: bold;
            font-size: 20px;
            font-family: 'Nanum Gothic', sans-serif;
          }
        }
      }
    }
  }
}
