#modal .modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;

  .modal_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    .modal_space {
      padding: 50px;
    }
  }

  p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
  }

  .payment_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0px;
  }

  &.show {
    display: block;
  }
}
