.productList_container {
  max-width: 1480px;
  margin: 0px auto;

  .productList_wrapper {
    margin: 0 30px;

    .productList_title_box {
      margin: 30px 0px;

      .productList_title {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 22px;
        font-family: bold;
      }
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products_item {
  width: 350px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: #fdfeff;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);

  .item_title {
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .item_description {
    font-size: 14px;
  }

  .item_space {
    margin: 5px 0px;
  }

  .item_price {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
  }

  img {
    width: 100%;
    padding: 20px;
  }

  .button_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.detail_container {
  max-width: 1256px;
  margin: 0 auto;

  .detail_wrapper {
    padding: 50px;
  }

  img {
    width: 50%;
    margin: 30px 0px;
  }
  .products-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-family: 'Nanum Gothic', sans-serif;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .description {
      font-size: 14px;
    }

    .price {
      margin: 10px 0px;
      font-size: 16px;
    }
  }
}
