.productList_container {
  max-width: 1256px;
  margin: 0px auto;

  .productList_title_box {
    margin: 30px 0px;
    .productList_title {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 22px;
      font-family: bold;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.products_item {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background: #f6f8f9;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);

  .item_title {
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .item_description {
    font-size: 14px;
  }

  .item_space {
    margin: 5px 0px;
  }

  .item_price {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
  }

  img {
    width: 100%;
    padding: 20px;
  }
}

.products-detail {
  display: flex;
  flex-direction: column;
}
